
.conteneur-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card {
    margin-bottom: 2%;
    text-decoration: none;
    background-color: aliceblue;
}

.présentation {
    border: solid 0.1em #8cb1d2;
    margin: 1em;
    border-radius: .3em;
}

.présentation h4 {
    text-align: center;
    margin-top: .5em;
    text-decoration: underline #52809c;
}

.en-tête img {
    opacity: 60%;
    width: 60%;
    height: 20em;
    margin-left: 30.3em;
}

.en-tête {
    background-color: #c1d5dc;
}

#titre {
    margin-top: 8%;
    position: absolute;
    margin-left: 1%;
}

.profil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact {
    margin: 1em;
    border: solid 0.1em #8cb1d2;
    border-radius: .3em;
}

.contact h4 {
    text-align: center;
    margin-top: .5em;
    text-decoration: underline #52809c;

}
