.card1 img {
    width: 15em;
}

.card1 {
    width: 15em;
    background-color: aliceblue;
}

.card2 {
    width: 15em;
    background-color: aliceblue;
}

.card3 {
    width: 15em;
    background-color: aliceblue;
}

.conteneur-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h1 {
    color: slategrey;
}